/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

:root {
  --off-white: #e9e9e9;
  --blue: #647dae;
  --orange: #f08b58;
  --pink: #f19bd0;
  --deep-pink: #9d5685; // darker tone of the provided pink
  --grey: #474747;
}

@font-face {
  font-family: 'HelveticaWorld';
  src: url('/fonts/HelveticaWorld-Regular.ttf-Regular.woff') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roxborough';
  src: url('/fonts/RoxboroughCF-Regular.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roxborough';
  src: url('/fonts/RoxboroughCF-Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roxborough';
  src: url('/fonts/RoxboroughCF-ExtraBold.otf') format('otf');
  font-weight: bolder;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
